* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden; /* disables scrollbars */
    background-color: #0f0f0f !important; /* theme background */
  }